*{
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;


}

.heading{
    display: flex;
    justify-content: space-around;
    /* padding: 15px 100px; */
    border-top: 4px solid #23bddb;
    border-bottom: 1px solid #c5cfd1;
    align-items: center;
}
.nav li{
    list-style: none;
}
.nav ul{
    display: flex;
}
.nav a{
    text-decoration: none;
    padding: 0 10px;
}

/* .navclass{
    position: absolute;
    top: 80%;
    background-color: white;
    font-size: 12px;
    height: 136px;

} */
/* .nav{
    height: 56px;
    width: 86px;
}
 */ .foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #5dbafc;
    color: white;
    padding: 35px;
 }

  .foot li{
    list-style: none;
 }

  .foot li a{
    text-decoration: none;
    color: white;
 }
 .navlink li i{
    display: none;
 }
.navlink:hover > li i{
    display: block;

}

.navlink li{
    position: relative;
}

.all .nav{
    padding-top: 24px;
}

.icon{
    position: absolute;
    bottom: 25px;
    left: calc(50% - 8px);
}

.banner-contact{
	background-color: #eb073c;
	color: white;
}

.banner-contact h3{
    font-size: 47px;
    padding: 20px 182px;

}

.form label,input,textarea{
	display: block;
}

.form label,textarea,input:not(:last-child){
	width: 100%;
}

.form{
	padding: 25px 100px;
}

.form input:last-child{
    padding: 0 15px;
    height: 39px;
    text-align: center;
    margin: 10px auto;
    color: white;
    background-color: #eb073c;
    outline: none;
    border: none;
    border-radius: 6px;
}

.form input:not(:last-child),textarea{
    margin-bottom: 30px;
    background-color: #c7d0d4;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px 10px;
    outline: none;
}

.textarea{
	padding: 10px;
}

.form textarea{
    padding: 10px 10px 50px;
}

.foot h5{
    font-size: 15px;
}

.foot ul{
    font-size: 14px;
}